*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 206, 165);
    align-items: center;
    justify-content: center;

}

#email{
    /* background-color: black; */
    color: rgb(0, 0, 0);
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: none;

    
}
button:nth-child(2){
    margin-left: 20px;
}
  .email-content{
    padding-left: 30px;
    padding-top: 10px;
  }
h1{
    color: white;
    width: 75%;
}
.email-section{
    width: 90%;
    margin: 20px;
    
}
.email-section h1{
    color: black;
}
#email-content{
    background-color: rgb(181, 218, 181);
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    
}
.email-copy img{
    width: 30px;
    cursor: pointer;
}
.email-copy{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}